{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Konta-kt</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
    </head>
    <body>


    <h2>Transactions monthly review</h2>
    {% if months_list %}
        <ul>
        {% for month in months_list %}
            <li {% if month.total < 0 %} style="color: red" {% endif %}  >{{ month.month }}: {{ month.total }}; UP: {{ month.up }}; DOWN: {{ month.down }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No transactions are available.</p>
    {% endif %}

    </body>
</html>