body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Monthly Review
 */
.monthlyReview span.month {
    cursor: pointer;
    color: #c97526;
}

.monthlyReview span.total,
.monthlyReview span.up,
.monthlyReview span.down {
    text-align: right;
    width: 90px;
    display: inline-block;
}

.monthlyReview span.total {
    font-weight: bold;
}

.monthlyReview span.up {
    color: #196400;
}

.monthlyReview span.down {
    color: #610600;
}

/*
 * Data table
 */

.btn-tr-add {
    font-size: 100%;
    padding: 2px 3px;
    line-height: 100%;
}

#transactions_table tr td:first-child {
    width: 90px;
}

#transactions_table tr td:last-child {
    min-width: 110px;
}

#transactions_table tr td div.text-right {
    font-size: 70%;
}

#transactions_table tr td div.text-right,
#transactions_table tr td .buttons {
    display: none;
}

#transactions_table tr:hover {
    background-color: #CCFFCC;
}

#transactions_table tr:hover td div.text-right,
#transactions_table tr:hover td .buttons {
    display: block;
}

#transactions_table th.date-header,
#transactions_table th.amount-header {
    cursor: pointer;
}

#transactions_table th.activeUp,
#transactions_table th.activeDown {
    background-color: #ffc107;
}

#transactions_table th.activeUp:after {
    content: '\021E7';
}

#transactions_table th.activeDown:after {
    content: '\021E9';
}

/*
 * Accounts accordion
 */

#accountAccordion .single-account .col-6 {
    overflow: hidden;
    height: 21px;
}

#accountAccordion .single-account .text-right {
    font-size: 80%;
}

#accountAccordion .single-account:hover .col-6 {
    overflow: auto;
    height: auto;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #CCFFCC;
}

/*
 * LOADING
 */

.loading {
    background-color: #aaa;
}

/**
 * Loading ([aria-busy=true])
 */
[aria-busy=true] {
  cursor: progress;
}

[aria-busy=true]:not(input, select, textarea)::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1875em solid currentColor;
  border-radius: 1em;
  border-right-color: transparent;
  content: "";
  vertical-align: text-bottom;
  vertical-align: -0.125em;
  animation: spinner 0.75s linear infinite;
  opacity: var(--loading-spinner-opacity);
}
[aria-busy=true]:not(input, select, textarea):not(:empty)::before {
  margin-right: calc(var(--spacing) * 0.5);
  margin-left: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: calc(var(--spacing) * 0.5);
  margin-inline-end: calc(var(--spacing) * 0.5);
}
[aria-busy=true]:not(input, select, textarea):empty {
  text-align: center;
}

button[aria-busy=true],
input[type=submit][aria-busy=true],
input[type=button][aria-busy=true],
input[type=reset][aria-busy=true],
a[aria-busy=true] {
  pointer-events: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}