<h1>Banks</h1>
{% if all_banks_list %}
    <ul>
    {% for bank in all_banks_list %}
        <li><a href="{% url 'accounts:bank_detail' bank.id %}">{{ bank.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No banks are available.</p>
{% endif %}

<h2>Latest accounts</h2>
{% if latest_accounts_list %}
    <ul>
    {% for account in latest_accounts_list %}
        <li><a href="{% url 'accounts:account_detail' account.id %}">{{ account.name }}</a> ({{ account.id }}; {{ account.number }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No accounts are available.</p>
{% endif %}