{% extends 'dashboard/base_layout.html' %}

{% block main_container %}

    {% if requisitions %}
        <div class="col col-xl-6 col-lg-12">
            <h4>Current connections and accounts</h4>
            <ul>
                {% for requisition in requisitions.results %}
                    <li style="margin-bottom: 40px">
                        <h4>{{ requisition.institution_id }}</h4>
                        <a href="{{ requisition.link }}" target="_blank">Connect additional account</a>
                        <a href="/nordigen/delete_requisition/{{ requisition.id }}" style="color: #f00">Delete requisition</a>
                        <br>
    {#                    {{ requisition.id }}<br>#}
    {#                    {{ requisition.created }}<br>#}
                        status: {{ requisition.status }}<br>
                        <br>
                        {% if requisition.accounts %}
                            {% include 'nordigen/requisition_accounts_list.html' %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if institutions %}
        <div class="col col-xl-6 col-lg-12">
            <h4>Start requisition of additional bank</h4>
            <ul>
                {% for institution in institutions %}
                    <li>
                        <a href="/nordigen/connect_bank/{{ institution.id }}/">{{ institution.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}