{% extends 'dashboard/layout.html' %}

{% block filter_form %}
    <form name="filters">
        <div class="form-row">
            <div class="col">
                <select name="irrelevant" class="form-control form-control-sm">
                    <option value="">istotne i nieistotne</option>
                    <option value="F">tylko istotne</option>
                    <option value="T">tylko nieistotne</option>
                </select>
            </div>
            <div class="col">
                <select name="direction" class="form-control form-control-sm">
                    <option value="">przychody i wydatki</option>
                    <option value="I">tylko przychody</option>
                    <option value="O">tylko wydatki</option>
                </select>
            </div>
            {% if accounts_list %}
                <div class="col">
                    <select name="account" class="form-control form-control-sm">
                        <option value="">Wszystkie konta</option>
                        {% for account in accounts_list %}
                            <option value="{{ account.account__id }}"> {{ account.account__bank__name }}: {{ account.account__name }} </option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <input type="hidden" name="account" value="">
            {% endif %}
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="od daty" name="startDate">
            </div>
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="do daty" name="endDate">
            </div>
            <div class="col">
                <button onclick="load_transactions(); return false;" class="btn btn-primary btn-sm">&#x21bb;</button>
                <button onclick="reset_filters(); return false;" class="btn btn-warning btn-sm">&#x274C;</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block monthly_review %}
    <h3>Monthly review</h3>
    {% if months_list %}
        <ul>
        {% for month in months_list %}
            <li>{{ month.month }}: <strong>{{ month.total|floatformat:2  }}</strong>; UP: {{ month.up|floatformat:2  }}; DOWN: {{ month.down|floatformat:2 }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No transactions are available.</p>
    {% endif %}

{% endblock %}

{% block transactions_review %}
    <h3>Transactions review</h3>



    <div class="table-responsive">
        <table class="table table-striped table-sm" id="transactions_table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- filled through Ajax -->
            </tbody>
        </table>
    </div>
{% endblock %}

{% block accounts_info %}
    <div class="accordion" id="accountAccordion">
        <div>
            <div>
                <div>

        {% if accounts_list %}
            {% for account in accounts_list %}
                {% ifchanged account.account__bank__name %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading{{ account.account__bank__id }}" style="padding: 2px">
                            <button class="btn btn-link {% if account.account__bank__hide == 1 %}collapsed{% endif %}" type="button" data-toggle="collapse"
                                        data-target="#collapse{{ account.account__bank__id }}" aria-expanded="true"
                                        aria-controls="collapse{{ account.account__bank__id }}" style="padding: 2px">
                                    {{ account.account__bank__name }}
                            </button>
                        </div>
                        <div id="collapse{{ account.account__bank__id }}" class="collapse {% if account.account__bank__hide != 1 %}show{% endif %}"
                             aria-labelledby="heading{{ account.account__bank__id }}"
                             data-parent="#accountAccordion">
                            <div class="card-body" style="padding: 5px">
                {% endifchanged %}

                                <div>
                                    <div>{{ account.account__name }}</div>
                                    <div class="text-right"><strong>{{ account.total|floatformat:2 }}</strong> {{ account.account__currency__name }}</div>
                                </div>
            {% endfor %}
        {% else %}
            <p>No accounts are available.</p>
        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}

    {% csrf_token %}

    {% load static %}
    <script src="{% static 'js/csrfTokenHandler.js' %}" ></script>
    <script src="{% static 'js/dashboard.js' %}" ></script>
{% endblock %}