{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Konta-kt</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Konta-kt</a>
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="/auth/logout/">Sign out</a>
            </li>
          </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/transactions/account_balance/">
                                    Account Balance
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/transactions/monthly_review/">
                                    Monthly Review
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/toolbox/load_mbank/" target="_blank">
                                    Import mBank from TEMP
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/toolbox/load_alior/" target="_blank">
                                    Import Alior from TEMP/alior
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/toolbox/adjust_nbp/" target="_blank">
                                    Adjust values on non-PLN transactions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/toolbox/cleanup/" target="_blank">
                                    Backup and cleanup
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/nordigen/" target="_blank">
                                    Nordigen
                                </a>
                            </li>

                        </ul>

                        {% block accounts_info %}
                        {% endblock %}
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-12">
                            <h3 class="mt-3">Months</h3>
                            <div class="monthlyReview">
                                <!-- filled through Ajax -->
                            </div>
                        </div>
                        <div class="col col-xl-8 col-lg-12">
                            <h3 class="mt-3">Filters</h3>
                            {% block filter_form %}
                            {% endblock %}
                        </div>
                    </div>

                    {% block transactions_review %}
                    {% endblock %}
                </main>
            </div>
        </div>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>

        {% block additional_js %}
        {% endblock %}
    </body>
</html>